# Ignora file di ambiente virtuale
.venv/

# Ignora file compilati
*.pyc
__pycache__/

# Ignora media files
media/

# Ignora database locale (opzionale)
db.sqlite3

# Ignora impostazioni di editor
.idea/

# Ignora file di ambiente
.env
